<div class="row d-flex cabecera align-items-center justify-content-center">
    <div class="col-xl-2 col-md-2 col-sm-3 col-3">
        <a href="/mis_avisos"><img src="/img/ucm_logo2.png" id="logo"></a>
    </div>
    <div class="col-xl-7 col-md-6 col-sm-3 col-3"><h1 class="titulo">Centro de Atención al Usuario</h1><% if(sesion.tecnico) { %><h4 class="correo text-center">PERFIL DE TÉCNICO</h4><% } %></div>
    <div class="col-xl-1 col-md-1 col-sm-1 col-1 mr-4">
        <img src="/obtener_imagen" id= "fotoPerfil" class="puntero" />
    </div>
    
    <div class="col-xl-1 col-md-1 col-sm-3 col-4">
        <h4 class="correo puntero" id="nombreUsuarioPerfil"><%=myUtils.acortarNombre(sesion.nombre)%></h4>
        <a class="btn btn-light btnBlanco botonCabecera" href="/cerrarSesion" role="button">Cerrar sesión</a>
    </div>
</div>

<!-- Modal PERFIL USUARIO -->
<div class="modal fade" id="modalPerfil" tabindex="-1" role="dialog"
aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">

      <h5 class="modal-title ml-3">Perfil de usuario</h5>


      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>


    </div>

    <div class="modal-body">
      <div class="container-fluid">
        <div class="row justify-content-around mb-4">
            <div>
                <img src="/obtener_imagen" width="130" height="130"/>
            </div>
            <div class="ml-2">
                <h4><%=sesion.nombre%></h4>
                <div><strong>Fecha de creación:</strong> <%= myUtils.parseFecha(new Date(sesion.fecha)) %></div> 
                <div><strong>Perfil:</strong> <%= myUtils.parsePerfil(sesion.perfil) %></div> 
                <div><strong>Correo:</strong> <%=sesion.correo%></div> 
                <div><strong>Contraseña:</strong> ********</div> 
            </div> 
        </div>

        <div class="ml-5">
            <div id="contAvisosGest"><strong><% if(sesion.tecnico) { %>Avisos gestionados:<% } else { %>Avisos realizados:<% } %></strong> 0</div> 
            <div id="contInci"><strong>Incidencias:</strong> 1</div> 
            <div id="contSuge"><strong>Sugerencias:</strong> 2</div>
            <div id="contFeli"><strong>Felicitaciones:</strong> 3</div>
        </div>
        
        


      </div>


    </div>

    <div class="modal-footer mt-3">
        <button type="button" class="btn btn-secondary labelBold" data-bs-dismiss="modal">Cerrar</button>
        
    </div>

      

    </div>
  </div>
</div>


</div>

<script>

    function infoPerfil(){
        $.get("/obtener_contador_avisos/" + "<%=sesion.idUsuario%>"+ "&<%=sesion.tecnico%>", function (data, status) {
                let inc = 0; let sug = 0; let fel = 0;
                for(let i = 0; i < data.length; i++){
                    if(data[i].tipo == "felicitacion") fel = data[i].cifra;
                    else if(data[i].tipo == "sugerencia") sug = data[i].cifra;
                    else if(data[i].tipo == "incidencia") inc = data[i].cifra;
                }
                let total = inc + sug+ fel;
                $("#contAvisosGest").html("<strong><% if(sesion.tecnico) { %>Avisos gestionados:<% } else { %>Avisos realizados:<% } %></strong> " + total);
                $("#contInci").html("<strong>Incidencias:</strong> " + inc);
                $("#contSuge").html("<strong>Sugerencias:</strong> " + sug);
                $("#contFeli").html("<strong>Felicitaciones:</strong> " + fel);


            })

            $('#modalPerfil').modal('toggle');
    }

        $("#fotoPerfil").click(function () {
            infoPerfil();
        })

        $("#nombreUsuarioPerfil").click(function () {
            infoPerfil();
        })


</script>


    
