<!DOCTYPE html>
<html lang="es">

<head>
  <title>UCM - Centro de Atención al Usuario</title>
  <meta charset="utf-8" />
  <link rel="icon" type="image/x-icon" href="/img/logoucm.ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" media="screen" href="/css/main.css" />
  <link rel="stylesheet" media="screen" href="/css/mis_avisos.css" />
</head>

<body>
  <div class="container-fluid">

    <%- include("cabecera") %>

      <nav class="navbar navbar-expand-sm navbar-light navMenu">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <% if(sesion.tecnico) { %>
              <li class="nav-item">
                <a class="nav-link" href="/avisos_entrantes">Avisos entrantes</a>
              </li>
              <% } %>
                <li class="nav-item active navActivo">
                  <a class="nav-link" href="/mis_avisos">Mis avisos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/historico_de_avisos">Histórico de avisos</a>
                </li>
                <% if(sesion.tecnico) { %>
                  <li class="nav-item">
                    <a class="nav-link" href="/gestion_de_usuarios">Gestión de usuarios</a>
                  </li>
                  <% } %>
          </ul>
        </div>
      </nav>

      <%- include("buscador") %>

      <% if(msgPantalla) { %>
        <div class="text-center mt-3 verdeExito labelBold">
          <%= msgPantalla %>
        </div>
        <% } %>


          <div class="col-10 tabla">
            <table class="table" id="t_avisos" value="<%=sesion.tecnico%>">
              <thead class="thead-dark">
                <tr>
                  <% if (sesion.tecnico) { %>
                    <th scope="col" style="width: 5%">Tipo</th>
                    <th scope="col" style="width: 10%">Fecha</th>
                    <th scope="col" style="width: 40%">Texto</th>
                    <th scope="col" style="width: 10%">Acciones</th>
                    <% } else { %>
                      <th scope="col" style="width: 15%">Fecha</th>
                      <th scope="col" style="width: 40%">Texto</th>
                      <th scope="col" style="width: 15%">Tipo</th>
                      <th scope="col" style="width: 15%">Técnico</th>
                      <% } %>
                </tr>
              </thead>

              <% if (sesion.tecnico) { %>

                <tbody>
                  <% avisos.forEach((aviso)=> { %>
                    <tr>
                      <td class="visible" value="<%=aviso.idAviso%>"><img src="/img/<%=aviso.tipo%>.png" width="40" height="40" title="<%=aviso.tipo%>" /></td>
                      <td class="fechaT visible" value="<%=aviso.idAviso%>">
                        <%= aviso.fecha.toLocaleDateString() %>
                      </td>
                      <td  class="visible" value="<%=aviso.idAviso%>">
                        <% if(aviso.texto.length> 200) { %>
                          <%= aviso.texto.substring(0,200) + "..." %>
                            <% } else { %>
                              <%= aviso.texto %>
                                <% } %>
                      </td>
                      <td>
                        <div class="row justify-content-around">
                          <a class="visible"  value="<%=aviso.idAviso%>">
                            <img src="/img/visualizar.png" width="40" height="40" title="Ver aviso" />
                          </a>
                          <a class="eliminar"  value="<%=aviso.idAviso%>">
                            <img src="/img/eliminar2.png" class="botonElim" width="40" height="40" />
                          </a>
                        </div>
                      </td>
                    </tr>

                    <% }); %>

                </tbody>


                <% } else { %>

                  <tbody>

                    <% avisos.forEach((aviso)=> { %>
                      <tr class="visible" value="<%=aviso.idAviso%>">
                        <td class="fechaT">
                          <%=aviso.fecha.toLocaleDateString()%>
                        </td>
                        <td>
                          <% if(aviso.texto.length> 200) { %>
                            <%= aviso.texto.substring(0,200) + "..." %>
                              <% } else { %>
                                <%= aviso.texto %>
                                  <% } %>
                        </td>
                        <td><img src="/img/<%=aviso.tipo%>.png" width="40" height="40" title="<%=aviso.tipo%>" /></td>
                        <td>
                          <% if(aviso.tecnico) { %>
                            <%= aviso.tecnico %>
                              <% } %>
                        </td>
                      </tr>
                      <% }); %>
                  </tbody>
                  <% } %>
            </table>
          </div>



          <div class="text-center mb-4" id="noAviso">
            <% if(avisos.length==0) { %>
              No se ha encontrado ningún aviso
              <% } %>
          </div>

          <% if (!sesion.tecnico) { %>
            <div class="row nuevoAviso justify-content-center">
              <button type="button" class="btn btnRojo" data-bs-toggle="modal" data-bs-target="#nuevoAviso">Nuevo
                aviso</button>
            </div>

            <% } %>


              <!-- Modal INFO/TERMINAR AVISO -->
              <% if(avisos.length> 0){ %>
                <div class="modal fade" id="infoAviso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">

                      <div class="modal-header">

                        <h5 class="modal-title ml-3" id="nombreModal">
                          <%=avisos[0].nombreUsu%>
                        </h5>
                        <div class="tAviso">
                          <h5 class="modal-title" id="infoAvisoModal" name="">Aviso <%=avisos[0].idAviso%> -
                              <%=myUtils.parseTipo(avisos[0].tipo)%>
                          </h5>
                        </div>

                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>

                      <div class="modal-body">

                        <div class="container-fluid">
                          <form id="asignarTecnicoForm" enctype="application/json" action="/terminarAviso"
                            method="post">
                            <div class="mb-3" id="fechaModal">
                              <strong>Fecha:</strong>
                              <%= myUtils.parseFecha(avisos[0].fecha) %>
                            </div>
                            <div class="mb-3" id="categoriasModal">

                              <strong>
                                <%= myUtils.parseCategorias(avisos[0].categoria)%>
                              </strong>
                              <% if(avisos[0].tipo !='felicitacion' ) { %>
                                - <%= myUtils.parseCategorias(avisos[0].subcategoria) %>
                                  <% } %>

                            </div>
                            <div class="mb-3" id="perfilModal">
                              <strong>Perfil:</strong>
                              <%= myUtils.parsePerfil(avisos[0].perfil) %>
                            </div>

                            <div class="form-outline mt-3 mb-3">
                              <label class="labelBold" for="obs">Observaciones:</label>
                              <textarea readonly class="form-control" id="obs" rows="3"><%= avisos[0].texto%></textarea>
                            </div>
                            <div class="form-outline mt-3 mb-3">
                              <label class="labelBold" for="comen">Comentario del técnico:</label>
                              <textarea readonly class="form-control" name="comentario" id="comen" rows="3"
                                required><%= avisos[0].comentario%></textarea>
                            </div>

                            <input class="avisoInv" id="idAvisoModal" name="idAviso"
                              value="<%=avisos[0].idAviso%>"></input>
                        </div>

                        <div class="modal-footer mt-3">
                          <button type="button" class="btn btn-secondary labelBold" data-bs-
                            data-bs-dismiss="modal">Cerrar</button>
                          <% if (sesion.tecnico) { %>
                            <button type="submit" class="btn btnRojo" id="botonTerminar">Terminar aviso</button>
                            <% } %>
                        </div>

                        </form>

                      </div>
                    </div>
                  </div>
                </div>
                <% } %>


                  <!-- Modal ELIMINAR AVISO -->
                  <% if(avisos.length> 0){ %>
                    <div class="modal fade" id="eliminarAviso" tabindex="-1" role="dialog"
                      aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">

                          <div class="modal-header">

                            <h5 class="modal-title ml-3" id="nombreModal2">
                              <%=avisos[0].nombreUsu%>
                            </h5>
                            <div class="tAviso">
                              <h5 class="modal-title" id="infoAvisoModal2" name="">Aviso <%=avisos[0].idAviso%> -
                                  <%=myUtils.parseTipo(avisos[0].tipo)%>
                              </h5>
                            </div>

                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>

                          <div class="modal-body">

                            <div class="container-fluid">
                              <form id="asignarTecnicoForm" enctype="application/json" action="/eliminarAviso"
                                method="post">
                                <div class="mb-3" id="fechaModal2">
                                  <strong>Fecha:</strong>
                                  <%= myUtils.parseFecha(avisos[0].fecha) %>
                                </div>
                                <div class="mb-3" id="categoriasModal2">

                                  <strong>
                                    <%= myUtils.parseCategorias(avisos[0].categoria)%>
                                  </strong>
                                  <% if(avisos[0].tipo !='felicitacion' ) { %>
                                    - <%= myUtils.parseCategorias(avisos[0].subcategoria) %>
                                      <% } %>

                                </div>
                                <div class="mb-3" id="perfilModal2">
                                  <strong>Perfil:</strong>
                                  <%= myUtils.parsePerfil(avisos[0].perfil) %>
                                </div>

                                <div class="form-outline mt-3 mb-3">
                                  <label class="labelBold" for="obs">Observaciones:</label>
                                  <textarea readonly class="form-control" id="obs2"
                                    rows="3"><%= avisos[0].texto%></textarea>
                                </div>
                                <div class="form-outline mt-3 mb-3">
                                  <label class="labelBold" for="comen2">Comentario del técnico:</label>
                                  <textarea readonly class="form-control" name="comentario" id="comen2" rows="3"
                                    required><%= avisos[0].comentario%></textarea>
                                </div>

                                <input class="avisoInv" id="idAvisoModal2" name="idAviso"
                                  value="<%=avisos[0].idAviso%>"></input>
                            </div>

                            <div class="modal-footer mt-3">
                              <button type="button" class="btn btn-secondary labelBold" data-bs-
                                data-bs-dismiss="modal">Cerrar</button>
                              <% if (sesion.tecnico) { %>
                                <button type="submit" class="btn btnRojo" id="botonTerminar2">Eliminar aviso</button>
                                <% } %>
                            </div>

                            </form>

                          </div>
                        </div>
                      </div>
                    </div>
                    <% } %>


                      <!-- Modal NUEVO AVISO -->
                      <div class="modal fade" id="nuevoAviso" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                          <div class="modal-content">
                            <div class="modal-header">

                              <h5 class="modal-title ml-3">Nuevo Aviso</h5>


                              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>


                            </div>

                            <div class="modal-body">
                              <div class="container-fluid">
                                <form id="nuevoAvisoForm needs-validation" enctype="application/json"
                                  action="/mis_avisos" method="post">
                                  <div class="mb-3 labelBold">
                                    Seleccione el tipo de aviso que desea realizar: <span class="rojoError labelBold"
                                      title="Es obligatorio rellenar este campo"> *</span>
                                  </div>
                                  <div class="row">
                                    <div class="form-check ml-3 mb-3">
                                      <input class="form-check-input" type="radio" name="tipo" value="sugerencia"
                                        id="sug" autocomplete="off">
                                      <label class="form-check-label" for="sug">Sugerencia</label>
                                    </div>
                                    <div class="form-check ml-2">
                                      <input class="form-check-input" type="radio" name="tipo" value="incidencia"
                                        id="inc" autocomplete="off">
                                      <label class="form-check-label" for="inc">Incidencia</label>
                                    </div>
                                    <div class="form-check ml-2">
                                      <input class="form-check-input" type="radio" name="tipo" value="felicitacion"
                                        id="fel" autocomplete="off">
                                      <label class="form-check-label" for="fel">Felicitación</label>
                                    </div>
                                  </div>

                                  <div id="opciones">

                                    <div class="form-outline mb-4 mr-4">
                                      <label class="form-label labelBold"
                                        for="selectorCategoria">Categoría:</label><span class="rojoError labelBold"
                                        title="Es obligatorio rellenar este campo"> *</span>
                                      <select class="form-control" id="selectorCategoria" name="categoria" onchange="">
                                        <option value="adigital">Administración digital</option>
                                        <option value="comu">Comunicaciones</option>
                                        <% if(sesion.perfil !='aa' ) { %>
                                          <option value="conect">Conectividad</option>
                                          <% } %>
                                            <% if(sesion.perfil !='aa' ) { %>
                                              <option value="docencia">Docencia</option>
                                              <% } %>
                                                <option value="web">Web</option>
                                      </select>
                                    </div>



                                    <div class="form-outline mb-4 mr-4 mt-3" id="divSelectorSub">
                                      <label class="form-label labelBold" for="selectorSub">Subcategoría:</label><span
                                        class="rojoError labelBold" title="Es obligatorio rellenar este campo"> *</span>
                                      <select class="form-control" id="selectorSub" name="subcategoria" onchange="">
                                        <% if(sesion.perfil !='aa' ) { %>
                                          <option value="cfisica">Certificado digital de persona física</option>
                                          <% } %>
                                            <% if(sesion.perfil=='pas' || sesion.perfil=='pdi' ) { %>
                                              <option value="cpublico">Certificado electrónico de empleado público
                                              </option>
                                              <% } %>
                                                <option value="registroElec">Registro electrónico</option>
                                                <option value="sede">Sede electrónica</option>
                                                <% if(sesion.perfil=='pas' || sesion.perfil=='pdi' ) { %>
                                                  <option value="portafirmas">Portafirmas</option>
                                                  <% } %>

                                      </select>
                                    </div>

                                    <div class="form-outline mt-3 mb-3">
                                      <label class="labelBold" for="obs">Observaciones:</label><span
                                        class="rojoError labelBold" title="Es obligatorio rellenar este campo"> *</span>
                                      <textarea class="form-control" id="obs" name="observacion" rows="3"
                                        required></textarea>
                                      <div class="invalid-feedback">
                                        Es obligatorio rellenar este campo
                                      </div>
                                    </div>


                                  </div>


                              </div>
                              <div class="modal-footer mt-3">
                                <button type="button" class="btn btn-secondary labelBold" data-bs-
                                  data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btnRojo" id="botonEnviar" disabled>Enviar</button>
                              </div>

                              </form>

                            </div>
                          </div>
                        </div>


                      </div>


                      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
                        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
                        crossorigin="anonymous"></script>

                      <script>

                        $(".visible").click(function () {
                          let id = $(this).closest("tr").index();
                          let idAviso = ($(this).attr('value'));

                          
                          $.get('/obtener_aviso/' + idAviso, function (nAviso, status) {
                            $("#nombreModal").html(nAviso.nombre);
                            $("#infoAvisoModal").html("Aviso " + nAviso.idAviso + " - " + nAviso.tipo);
                            $("#fechaModal").html("<strong>Fecha:</strong> " + nAviso.fecha);
                            let sub = '';
                            if (nAviso.tipo != 'Felicitación') sub = " - " + nAviso.subcategoria;
                            $("#categoriasModal").html("<strong>" + nAviso.categoria + "</strong>" + sub);
                            $("#perfilModal").html("<strong>Perfil:</strong> " + nAviso.perfil);
                            $("#obs").val(nAviso.texto);
                            $("#comen").val(nAviso.comentario_tecnico);
                            console.log(nAviso.sesionTecnico);
                            if (nAviso.sesionTecnico) { $("#comen").prop("readonly", false); }
                            else { $("#comen").prop("readonly", true); }

                            if (nAviso.comentario_tecnico) { $("#comen").prop("readonly", true); $("#botonTerminar").prop("disabled", true); $("#botonTerminar").html("Aviso terminado"); }
                            else if (!nAviso.sesionTecnico) { $("#comen").prop("readonly", true); $("#botonTerminar").prop("disabled", false); $("#botonTerminar").html("Terminar aviso");}
                            else { $("#comen").prop("readonly", false); $("#botonTerminar").prop("disabled", false); $("#botonTerminar").html("Terminar aviso"); }

                            $("#idAvisoModal").val(nAviso.idAviso);


                          });
                          $('#infoAviso').modal('toggle');
                        })

                        $(".eliminar").click(function () {
                          let id = $(this).closest("tr").index();
                          let idAviso = ($(this).attr('value'));

                          
                          $.get('/obtener_aviso/' + idAviso, function (nAviso, status) {
                            $("#nombreModal2").html(nAviso.nombre);
                            $("#infoAvisoModal2").html("Aviso " + nAviso.idAviso + " - " + nAviso.tipo);
                            $("#fechaModal2").html("<strong>Fecha:</strong> " + nAviso.fecha);
                            let sub = '';
                            if (nAviso.tipo != 'Felicitación') sub = " - " + nAviso.subcategoria;
                            $("#categoriasModal2").html("<strong>" + nAviso.categoria + "</strong>" + sub);
                            $("#perfilModal2").html("<strong>Perfil:</strong> " + nAviso.perfil);
                            $("#obs2").val(nAviso.texto);
                            $("#comen2").val(nAviso.comentario_tecnico);
                            console.log(nAviso.sesionTecnico);
                            if (nAviso.sesionTecnico) { $("#comen2").prop("readonly", false); }
                            else { $("#comen2").prop("readonly", true); }

                            if (nAviso.comentario_tecnico) { $("#comen2").prop("readonly", true); $("#botonTerminar2").prop("disabled", false); }
                            else if (!nAviso.sesionTecnico) { $("#comen2").prop("readonly", true); $("#botonTerminar2").prop("disabled", false); }
                            else { $("#comen2").prop("readonly", false); $("#botonTerminar2").prop("disabled", false); }

                            $("#idAvisoModal2").val(nAviso.idAviso);


                          });
                          $('#eliminarAviso').modal('toggle');
                        })

                        
                        $(document).ready(function () {
                          $("#selectorCategoria").change(function () {
                            switch ($(this).val()) {
                              case 'adigital':
                                $("#selectorSub").html("<% if(sesion.perfil != 'aa') { %><option value='cfisica' >Certificado digital de persona física</option><% } %><% if(sesion.perfil == 'pas' || sesion.perfil == 'pdi') { %><option value='cpublico'>Certificado electrónico de empleado público</option><% } %><option value='registroElec'>Registro electrónico</option><option value='sede'>Sede electrónica</option><% if(sesion.perfil == 'pas' || sesion.perfil == 'pdi') { %><option value='portafirmas'>Portafirmas</option> <% } %>");
                                break;
                              case 'comu':
                                $("#selectorSub").html("<option value='correo' >Correo electrónico</option><option value='meet'>Google Meet</option><% if(sesion.perfil == 'alumno' || sesion.perfil == 'aa') { %><option value='calumno'>Cuenta de alumno</option><% } if(sesion.perfil == 'pas' || sesion.perfil == 'pdi') { %><option value='cpersonal'>Cuenta de personal</option><option value='cgenerica'>Cuenta genérica</option><% } %>");
                                break;
                              case 'conect':
                                $("#selectorSub").html("<% if(sesion.perfil == 'pas') { %><option value='sara' >Cuenta as la Red SARA</option><% } if(sesion.perfil == 'pas' || sesion.perfil == 'pdi') { %><option value='conex'>Conexión por cable en despachos</option><% } %><option value='cortafuegos'>Cortafuegos corporativo</option><% if(sesion.perfil == 'pas') { %><option value='dns'>Resolución de nombres de dominio (DNS)</option><% } %><option value='vpn'>VPN Acceso remoto</option><option value='eduroam'>Wifi Eduroam (ssid: eduroam)</option><% if(sesion.perfil != 'alumno') { %><option value='wifivis'>Wifi para visitantes (ssid: UCM-Visitantes)</option><% } %>");
                                break;
                              case 'docencia':
                                $("#selectorSub").html("<% if(sesion.perfil != 'pas') { %><option value='aula' >Aula Virtual</option><% } if(sesion.perfil != 'alumno') { %><option value='blackboard'>Blackboard Collaborate</option><option value='listados'>Listados de clase</option><% } %><option value='moodle'>Moodle: Aula Global</option><% if(sesion.perfil != 'pas') { %><option value='cursosprivados'>Plataforma de cursos online privados</option><% } %>");
                                break;
                              case 'web':
                                $("#selectorSub").html("<% if(sesion.perfil == 'pas' || sesion.perfil == 'pdi') { %><option value='analitica' >Analitica Web</option><option value='ssl'>Emisión de certificados SSL</option><option value='hosting'>Hosting: alojamiento de páginas web</option><% } %><option value='portal'>Portal de eventos</option><% if(sesion.perfil == 'pas' || sesion.perfil == 'pdi') { %><option value='redirecciones'>Redirecciones web</option><% } %>");
                                break;
                              default:
                                $("#selectorSub").html("<option value='cfisica' >Certificado digital de persona física</option><option value='cpublico'>Certificado electrónico de empleado público</option><option value='registroElec'>Registro electrónico</option><option value='sede'>Sede electrónica</option><option value='portafirmas'>Portafirmas</option>");

                            }
                          });
                          $('input[type=radio][name=tipo]').change(function () {
                            switch (this.value) {
                              case 'sugerencia':
                                $("#selectorCategoria").html("<option value='adigital' selected>Administración digital</option><option value='comu'>Comunicaciones</option><% if(sesion.perfil != 'aa') { %><option value='conect'>Conectividad</option><option value='docencia'>Docencia</option><% } %><option value='web'>Web</option>");
                                $("#opciones").show();
                                $("#divSelectorSub").show();
                                $("#botonEnviar").prop("disabled", false);
                                break;
                              case 'incidencia':
                                $("#selectorCategoria").html("<option value='adigital' selected>Administración digital</option><option value='comu'>Comunicaciones</option><% if(sesion.perfil != 'aa') { %><option value='conect'>Conectividad</option><option value='docencia'>Docencia</option><% } %><option value='web'>Web</option>");
                                $("#opciones").show();
                                $("#divSelectorSub").show();
                                $("#botonEnviar").prop("disabled", false);
                                break;
                              case 'felicitacion':
                                $("#selectorCategoria").html("<option value='archivo' selected>Archivo Universitario</option><option value='asesoria'>Asesoría Jurídica</option><option value='biblioteca'>Biblioteca</option><option value='cInfo'>Centro de Información</option><option value='dDocentes'>Departamentos docentes</option><option value='iServicios'>Inspección de Servicios</option><option value='ofGest'>Oficina de Gestión de Infraestructuras y Mantenimiento</option><option value='sAdmin'>Servicio de Administracion</option><option value='sInfor'>Servicios Informáticos</option><option value='sDocu'>Servicio de Documentación</option><option value='sImp'>Servicio de Imprenta</option><option value='sCafe'>Servicio de Cafetería</option><option value='todauni'>Toda la universidad</option>");
                                $("#opciones").show();
                                $("#divSelectorSub").hide();
                                $("#botonEnviar").prop("disabled", false);
                                break;
                            }
                          });
                        });


                      </script>

</body>

</html>